
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="menu-wrap">
			<ul class="menu">
				<li><a href="">Биография</a></li>
				<li><a href="">Новости</a></li>
				<li><a href="">Достижения</a></li>
				<li><a href="">Цели</a></li>
				<li><a href="">Вопросы/ответы</a></li>
				<li><a href="">Мой блог</a></li>
			</ul>
		</div>
		<div class="contacts-wrap">
			<div class="cnt-wrap">
				<div class="elm-ico">
					<img src="./img/icons/phone.svg" alt="">
				</div>
				<a href="tel:89774380488" class="cnt-title title-main">8 (977) 438-04-88</a>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
				<a href="" class="btn-action-ico">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico">
					<img src="./img/icons/soc-yt.svg" alt="">
				</a>
				<a href="" class="btn-action-ico">
					<img src="./img/icons/soc-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico">
					<img src="./img/icons/soc-inst.svg" alt="">
				</a>
			</div>
			<div class="cnt-wrap">
				<div class="elm-ico">
					<img src="./img/icons/location.svg" alt="">
				</div>
				<div class="cnt-title">Адрес приемной:</div>
				<p>г. Москва, Красная площадь, дом 1, офис 2</p>
			</div>
			<div class="cnt-action-wrap">
				<a href="" class="btn button-small">Связаться с депутатом</a>
			</div>
		</div>
		<div class="subscribe-wrap">
			<form action="/" class="frm-main-subscribe">
				<div class="sbs-title">Подпишитесь на новости:</div>
				<div class="frm-row">
					<input type="text" class="form-input" placeholder="Ваш email">
				</div>
				<div class="frm-info">Нажимая на кнопку, Вы даете согласие на обработку Персональных данных</div>
				<div class="frm-row-submit">
					<button type="submit" class="btn button-small">Подписаться</button>
				</div>
			</form>
		</div>
	</div>
</footer>
<!-- /footer -->